.timerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  flex-direction: column;
}

#timer {
  margin-bottom: 25px;
  font-size: 2.5rem;
  font-weight: bold;
}

#gameOverContainer {
	padding: 20px;
	border-radius: 5px;
}

.gameOverOriginalNumContainer, 
.gameOverUserNumContainer {
	color: #333;
	border-radius: 10px;
}

.xNumber {
	border-bottom: 2px solid lightgray;
}

