.timerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  flex-direction: column;
}

#timer {
  margin-bottom: 25px;
  font-size: 2.5rem;
  font-weight: bold;
}
